* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    background: linear-gradient(to right, #333386, #feb47b);
    color: #fff;
  }
  
  #counter {
    font-size: 60px;
    margin-bottom: 20px;
    text-align: center; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
  }
  
  
  .button-container {
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background-color: #555;
  }
  